<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>인증페이지</title>
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
<link href="/css/index.css" rel="stylesheet" />
</head>

<body>
	<!--<div th:fragment="fragment-menu"></div>  -->
		<h1 align="center">인증페이지(인증코드전송)</h1>
		<br>

<!-- 이메일 주소 입력 폼 -->
			<form action="send-authcode" method="post">
				<table>
					<tr>
						<td>이메일주소</td>
						<td><input name="email"></td>
						<td rowspan="2"><button style="height: 50px;">이메일전송</button></td>
					</tr>
				</table>
			</form>
<!--			
<form action="/mail/send-authcode" method="post">
     <input type="email" name="email" placeholder="이메일 주소" autocomplete="email">
    <button type="button" id="sendEmailButton">인증번호 전송</button>
</form>
 -->
  
<!-- JavaScript 및 jQuery 로 이메일 주소 전송 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#sendEmailButton").click(function() {
            var email = $("#emailInput").val();
            $.ajax({
                type: "POST",
                url: "/mail/send-authcode",
                contentType: "application/json",
                data: JSON.stringify({ "email": email }),
                success: function(response) {
                    alert("인증 코드가 전송되었습니다: " + response.data);
                },
                error: function(error) {
                    alert("에러 발생: " + error.responseJSON.message);
                }
            });
        });
    });
</script>


</body>
</html>
	