<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 인증코드 전송완료 페이지</title>

</head>

<body>

    <h1>안녕하세요! One Planner 입니다!/veri</h1>    
    <p>이메일 인증이 완료되었습니다</p> 

<!--
    <script>
        function sendAlert() {
            alert('이메일 인증코드 전송 완료\n인증 코드가 포함된 이메일이 귀하의 이메일 주소로 전송되었습니다.\n 받은 편지함을 확인해주세요.');
            console.log('이동하고자 하는 페이지로 이동합니다.');
            window.location.href = 'verification/verification-email-form';
        }
    </script>
  -->
</body>
</html>