<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>index페이지</title>
<link href="/css/index.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<!-- <div th:replace = "~{/fragments/header.html :: fragment-menu}"></div> -->
	<!-- <div class="imgwrap"><img src="/img/spring.png" alt="spring img"></div>-->
	<div th:replace = "~{/mail/send-authcode.html :: fragment-menu}"></div>

</body>
</html>